@charset "utf-8";
 
/* Custom Style */
.btn_defualt{background: #fff; border: 1px solid #f7f7f7;}



.wrap{position: relative; width: 100%; height: 100%;}
/* webview popup info style */
.webview_info .inner{position: relative; max-width: 390px; width: 100%; height:100%; margin: 0 auto;}
.webview_box{width: 100%; height: 100%; text-align: center; padding: 30px 30px;}
.webview_box .content_info_message{position: absolute; top:50%; left:50%; width: 100%; transform: translate(-50%, -50%);}
.content_info_message .text_message p{font-size: 14px; font-size: 1.4rem; line-height: 1.6; padding-bottom: 15px;}
.content_info_message .guide_text{font-size: 12px; font-size: 1.2rem; color: #757575; padding-top: 5px;}
.content_info_message .btn_area{position: relative; width: 100%; text-align: center; padding-top: 30px;}
.content_info_message .btn_area .btn_wv_info{font-family: 'Roboto', sans-serif; color:#757575; font-size: 14px; font-size: 1.4rem; font-weight: 500; text-align: center;}
.content_info_message .btn_area .btn_login_google{font-family: 'Roboto', sans-serif; width: 190px; background: #fff url("../images/icon_login_google.png") no-repeat 1rem 50%; background-size: 18px auto; padding: 10px 10px 10px 40px; border-top: 1px solid #f8f8f8; border-radius: 3px; -webkit-box-shadow: 0px 1px 1px 0px rgb(0 0 0 / 28%); box-shadow: 0px 1px 1px 0px rgb(0 0 0 / 28%);}
.content_info_message .btn_area .btn_login_google:hover{background-color: #eee;}
.content_info_message .btn_area .btn_avs{background:#fff; border:1px solid #e21d19; color:#e21d19; padding: 10px 10px 10px 10px;}
.content_info_message .btn_area .btn_avs:hover{background-color: #e21d19; color:#fff;}


